.header {
   .header-wrapper {
       border-bottom: 2px solid #ecf0f4;
       .header-box-one {
            height: 6rem;
            .header-logo-img {
                width: 3.4rem;
                cursor: pointer;
            }
            .header-btns {
                .header-btns-not {
                    font-size: 1.1rem;
                    margin-right: 2rem;
                    transition: .4s;
                    .header-btns-not-inner {
                        width: 1.3rem;
                    }
                    i {
                        font-size: 1.3rem;
                    }
                }
                .header-btns-not:hover {
                    color: red;
                }
                div {
                    cursor: pointer;
                }
               .header-btns-img {
                   width: 2.2rem;
                   height: 2.2rem;
                   overflow: hidden;
                   border-radius: 0.8rem;
                   transition: .3s;
                .header-btns-a-avatar {
                    width: auto;
                    height: 100%;
                }
               }
               .header-btns-img:hover{
                    -webkit-box-shadow: 0px 2px 5px 2px rgba(34, 60, 80, 0.3);
                    -moz-box-shadow: 0px 2px 5px 2px rgba(34, 60, 80, 0.3);
                    box-shadow: 0px 2px 5px 2px rgba(34, 60, 80, 0.3);
               }
            }
       }

       .header-box-two {
            height: 3.1rem;
            .nav-list {
                height: 100%;
                .nav-list-item {
                    height: calc(100% + 2px);
                    width: auto;
                    cursor: pointer;
                    border-bottom: 2px solid #ecf0f4;
                    transition: .3s;
                    user-select: none;
                    outline: none;
                    img {
                        width: 1rem;
                        margin-right: 0.5rem;
                    }
                    i {
                        font-size: 1.2rem;
                        margin-right: 0.5rem;
                    }
                }
                .nav-list-item-active {
                    color: red;
                    border-bottom: 2px solid red;
                }
                .nav-list-item:hover {
                    border-bottom: 2px solid red;
                }
            }
       }
   }
}

main {
    position: relative;
    background: url('../assets/imgs/bg-overlay-2.svg') left top / auto 100% no-repeat;
    .main-router {
        min-height: 500px;
        background: url('../assets/imgs/bg-overlay-3.svg') right top / auto 100% no-repeat;
        z-index: 10;
    }
}

footer {
    min-height: 600px;
    background: url('../assets/imgs/bg-overlay-1.svg') center top / cover no-repeat;
    padding-top: 24rem;
    padding-left: 25vw;
    .footer-inner {
        width: 55vw;
        padding-bottom: 2rem;
        .footer-col-list {
            margin-left: 0;
            padding-left: 0;
            li {
                list-style-type: none;
                margin: 1rem 0;
                color: #4e4e4f;
                cursor: pointer;
            }
        }
        .footer-phone, .footer-mail {
            margin-top: 1rem;
            img {
                height: 1.6rem;
                margin-right: 0.5rem;
            }
            span {
                font-size: 0.9rem;
                color: #4e4e4f;
                font-weight: 300;
            };
        }
        .footer-social {
            margin-top: 3rem;
            img {
                width: 1.5rem;
                cursor: pointer;
                transition: .3s;
                margin-right: 1rem;
            }
            img:hover {
                transform: scale(1.1);
            }
        }
        .footer-input {
            background-color: white;
            padding-left: 1rem;
            border-radius: 2rem;
            height: 2.5rem;
            margin-top: 3rem;
            -webkit-box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.05);
            -moz-box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.05);
            box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.05);
            input {
                border: none;
                outline: none;
                width: calc(100% - 4.5rem);
                height: 100%;
            }
            button {
                width: auto;
                height: 100%;
                background-color: red;
                overflow: hidden;
                border-radius: 2rem;
                border: none;
                outline: none;
                padding: 0 1rem;
                color: white;
                -webkit-box-shadow: 0px 3px 10px 0px rgba(255, 0, 0, 0.5);
                -moz-box-shadow: 0px 3px 10px 0px rgba(255, 0, 0, 0.5);
                box-shadow: 0px 3px 10px 0px rgba(255, 0, 0, 0.5);
                transition: .3s;
            }
            button:hover {
                background-color: rgb(201, 0, 0);
                -webkit-box-shadow: 0px 3px 10px 0px rgba(200, 0, 0, 0.5);
                -moz-box-shadow: 0px 3px 10px 0px rgba(200, 0, 0, 0.5);
                box-shadow: 0px 3px 10px 0px rgba(200, 0, 0, 0.5);
            }
        }
        .footer-h3 {
            font-weight: 300;
            margin-bottom: 2rem;
        }
        .footer-logo {
            .footer-logo-img {
                width: 5rem;
                cursor: pointer;
            }
        }
        .footer-b {
            margin-top: 2rem;
            span {
                font-size: 0.8rem;
            }
        }
    }
}

.fix-w {
    width: 76%;
    max-width: 1500px;
}

@media (max-width: 1400px) {
    footer {
        padding-left: 10vw;
    }
}

@media (max-width: 1200px) {
    main {
        background: url('../assets/imgs/bg-overlay-2.svg') left top / auto 60% no-repeat;
        .main-router {
            background: url('../assets/imgs/bg-overlay-3.svg') right top / auto 60% no-repeat;
        }
    }
    footer {
        padding-left: 22.5vw;
    }
}

@media (max-width: 915px) {
    .header-box-two {
        width: 100%;
        .nav-list {
            overflow: auto;
            overflow-y: hidden;
            white-space: nowrap;
            div {
                display: inline-block;
                margin: 0 15px;
            }
            div:hover {
                color: red;
            }
        }
    }
}

@media (max-width: 1200px) and (min-width: 768px) {
    footer {
        .footer-input {
            button span {
                display: none;
            }
            button::after {
                content: '✓';
            }
        }
    }
}

@media (max-width: 1840px) {
    footer {
        padding-left: 22.5vw;
    }
}

@media (max-width: 768px) {
    footer {
        padding: 24rem 5vw 0rem;
        .footer-social {
            display: flex;
            justify-content: center;
        }
        .footer-mail, .footer-phone {
            display: flex;
            justify-content: center;
        }
        .footer-inner {
            width: 90vw;
            * {
                text-align: center;
            }
            input {
                text-align: start;
            }
            h3 {
                margin-top: 1rem;
            }
        }
    }
}

