<header class="header">
    <div class="header-wrapper w-100 d-flex justify-content-center align-items-center">
        <div class="header-box-one d-flex justify-content-between align-items-center fix-w">
            <div class="header-logo">
                <img class="header-logo-img" src="../assets/imgs/logo.svg" alt="logo">
            </div>
            <div class="header-btns d-flex flex-row align-items-center">
                <div class="header-btns-not">
                    <img class="header-btns-not-inner" src="../assets/imgs/not.svg" alt="notification">
                </div>
                <div class="header-btns-img d-flex flex-row align-items-center justify-content-center">
                    <img class="header-btns-a-avatar" src="https://www.upwork.com/profile-portraits/c1OoaoaBFEjJrKulJjaA7qk_6QPucXQe_jeD2VgMydyTIWuxtDjM8cSf19IBAw54vh" alt="user">
                </div>
            </div>
        </div>
    </div>
    <div class="header-wrapper w-100 d-flex justify-content-center align-items-center">
        <div class="header-box-two fix-w">
            <nav class="d-flex flex-row nav-list justify-content-between">
                <div *ngFor='let item of menuList' class="nav-list-item d-flex justify-content-center align-items-center" [routerLink]="[item.route]" [routerLinkActive]="['nav-list-item-active']">
                    {{ item.title }}
                </div>
            </nav>
        </div>
    </div>
</header>

<main>
    <router-outlet></router-outlet>
</main>

<footer class="footer">
    <div class="footer-inner">
        <div class="row w-100">
            <div class="col-md">
                <div class="footer-logo">
                    <img class="footer-logo-img" src="../assets/imgs/logo.svg" alt="logo">
                </div>
            </div>
            <div class="col-md">
                <h3 class="footer-h3">Categories</h3>
                <ul class="footer-col-list">
                    <li>Menu</li>
                    <li>Popular Restaurant</li>
                    <li>New items</li>
                    <li>Review</li>
                    <li>Categories</li>
                </ul>
            </div>
            <div class="col-md">
                <h3 class="footer-h3">Useful links</h3>
                <ul class="footer-col-list">
                    <li>Payment & tax</li>
                    <li>Terms of service</li>
                    <li>My account</li>
                    <li>Return Policy</li>
                </ul>
            </div>
            <div class="col-md">
                <h3 class="footer-h3">Stay connected</h3>
                <div class="footer-input d-flex justify-content-between align-items-center flex-row">
                    <input type="text" placeholder="E-mail Address">
                    <button><span>Submit</span></button>
                </div>
                <div class="footer-phone d-flex align-items-center flex-row">
                    <img src="../assets/imgs/tel.svg" alt="phone">
                    <span>+ 1 (800) 695 - 0700</span>
                </div>
                <div class="footer-mail d-flex align-items-center flex-row">
                    <img src="../assets/imgs/mail.svg" alt="phone">
                    <span>Support@ltgrestaurant.com</span>
                </div>
            </div>
          </div>
    </div>
</footer>